* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;    
}

h1 {
    font-size: 3.5em;
    margin-left: 10px;
}
p {
    margin-left: 10px;
}

ul {
    color: rgba(110, 118, 223, 0.685);
    margin-left: 100px;
}
img {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}