* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;    
}

header {
    width: 100%;
    background: rgb(0, 0, 0) ;
}

#menuBtn {
    display: none;
}
header label .imgMenu {
    display: none;
    width: 100px;
    height: 100px;
    border-right: 1px solid #fff;
}

header label .imgMenu:hover {
    cursor: pointer;
    background: rgba(209, 201, 201, 0.418);
}

.menu {
    display: block;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    border-right: 2px solid #fff ;
}

.menu li:hover {
    background: rgba(209, 201, 201, 0.418);
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

main {
    padding: 20px;
}

@media (max-width:100000000000px){
    header label .imgMenu{
        display: block;
    }

    .menu{
        position: absolute;
        background: rgb(0, 0, 0) ;
        width: 70%px;
        margin-left: -70%;
    }
    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;

    }

    #menuBtn:checked ~ .menu {
        margin: 0;

    }
}



h1 {
    font-size: 3.5em;
    margin-left: 10px;
}
p {
    margin-left: 10px;
}

.letras {
    width: 100px;
    height: 100px;

    margin-top: -100px;
    margin-left: 150px;
    border: -10px;
}
